<h1>User Stories</h1>

<p>As a visitor, I want to be able to sign up and see documentation.</p>
<p>As a visitor, I want to be able to shorten links.</p>
<p>As a visitor, I want to sign up for a free account.</p>

<h1>Business Rules</h1>

<p>Links and users are stored in a database.</p>
<p>Passwords must be encrypted.</p>